* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GlacialIndifference-Regular;
  src: url(../fonts/GlacialIndifference-Regular.ttf);
}
body {
  background-color: rgb(239, 233, 229);
  font-family: GlacialIndifference-Regular;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

#header {
  background-color: rgb(239, 233, 229);
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

header nav ul li {
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  margin-top: 105px;
  transition: 0.5s;
}
header nav ul li:hover {
  transform: scale(1.1);
}
header nav a img {
  margin-top: -25px;
  height: 110px;
  margin-left: 10px;
  margin-right: 20px;
  content: normal;
  transition: 0.3s;
}
header nav a img:hover {
  transform: rotate(10deg);
}

footer {
  background-color: rgb(199, 177, 162);
  margin: 0px;
}
footer div {
  display: flex;
  justify-content: center;
}
footer div img {
  width: 1.5%;
  height: 1.5%;
  padding-right: 3px;
}
footer div ol {
  padding: 0px;
}
footer div li {
  list-style-type: none;
}
footer div a {
  text-decoration: none;
  color: black;
}

.pochefooter {
  font-size: 12px;
  padding-top: 10px;
}

.contactofooter {
  font-size: 12px;
  padding-right: 15px;
}

.linkfooter {
  font-style: none;
  list-style-type: normal;
  font-size: 11px;
}

.logoingreso {
  height: 250px;
  width: 250px;
}

.linkingreso {
  font-style: italic;
  font-family: GlacialIndifference-Regular;
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.principal1 {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section div h2 {
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

main section div h3 {
  font-size: 23px;
  text-align: center;
}

main section div p {
  text-align: center;
  padding-bottom: 15px;
}

main section div img {
  padding: 10px 0px;
}

.botoninicio {
  margin-left: 390px;
  margin-bottom: 18px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(239, 233, 229);
  color: rgb(0, 0, 0);
}

.banner1 {
  width: 100%;
}

.service {
  padding: 5px;
}

.service__detail, .credential__detail {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  list-style-type: none;
  padding: 6px 20px;
  margin-bottom: 15px;
  margin-top: 0px;
  background-color: white;
}

.contenidoservicios {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 2;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 80%;
  padding-bottom: 30px;
}

.contenidoservicio__titulo {
  margin-left: 27px;
  font-size: 23px;
}

#section-influencer {
  display: grid;
  grid-template-areas: "Influencer Influencer Influencer" "1 2 3";
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 200px 200px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.influencer {
  width: 400px;
  display: flex;
  justify-content: center;
}

.influencer__reversal {
  width: 350px;
  transition: 0.3s;
}

.influencer__reversal:hover {
  width: 380px;
}

.influencer__cleanex {
  width: 400px;
  margin-top: -40px;
  transition: 0.3s;
}

.influencer__cleanex:hover {
  width: 420px;
}

.influencer__inarah {
  width: 310px;
  transition: 0.3s;
}

.influencer__inarah:hover {
  width: 360px;
}

.influencer__proavenal {
  width: 340px;
  margin-left: -20px;
  transition: 0.3s;
}

.influencer__proavenal:hover {
  width: 380px;
}

.influencer__memeliah {
  width: 550px;
  transition: 0.3s;
}

.influencer__memeliah:hover {
  width: 570px;
}

main section ul {
  padding: 10px 45px;
}

main section ul li {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  list-style-type: square;
  margin-top: 10px;
}

.credential {
  padding: 0px;
}

.credential__detail {
  font-size: 14px;
}

.credential__image {
  margin-top: -35px;
  width: 12%;
  height: 13%;
}

.section__contactimg {
  width: 2%;
  margin-left: 30px;
  margin-top: 10px;
}

.section__contact {
  font-size: 18px;
  font-style: normal;
  text-align: left;
  margin-top: -28px;
  margin-left: 80px;
}

.formulario {
  margin-top: 20px;
}

.formulario1 {
  margin-top: -25px;
}

.formulario2 {
  margin-top: 25px;
}

.boton {
  margin-left: -5px;
}

.formulario__label {
  margin-left: 85px;
  font-size: 16px;
}

.formulario__input {
  margin-left: 5px;
  border: 3px solid rgb(0, 0, 0);
  text-align: center;
}

.formulario__consulta {
  margin-left: 85px;
  border: 3px solid rgb(0, 0, 0);
}

.formulario__boton {
  margin-left: 420px;
  margin-bottom: 18px;
  padding: 5px;
  font-size: 12px;
  background-color: rgb(239, 233, 229);
  color: rgb(0, 0, 0);
  font-family: GlacialIndifference-Regular;
}

@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  #img__navbar {
    margin-top: 10px;
    width: 80%;
    margin-left: 10px;
    margin-right: 20px;
    content: normal;
  }
  header nav div ul li {
    margin: 0px;
    padding: 0px 15px;
  }
  /* INDEX HTML */
  main section div {
    padding: 5px 0px;
  }
  /* Presentacion */
  main section div div {
    display: flex;
    flex-wrap: wrap;
  }
  main section div div h2 {
    text-align: center;
    font-size: 10px;
    margin: 0;
    padding: 10px;
  }
  main section div div h3 {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
  main section div div p {
    text-align: center;
    font-size: 11px;
    padding-bottom: 10px;
  }
  /* CONTACTO HTML */
  .section__contactimg {
    width: 5%;
  }
  .formulario1 {
    margin-left: -260px;
  }
  .formulario {
    margin-left: -260px;
  }
  .formulario2 {
    margin-left: -100px;
  }
  .boton {
    margin-left: -110px;
  }
}
@media screen and (max-width: 992px) {
  header nav div ul li {
    margin: 0px;
    padding: 0px 15px;
  }
  /* INDEX HTML */
  main section div {
    padding: 5px 0px;
  }
  /* Presentacion */
  main section div div {
    display: flex;
    flex-wrap: wrap;
  }
  main section div h2 {
    text-align: center;
    font-size: 15px;
  }
  main section div h3 {
    width: 100%;
    font-size: 22px;
    margin: 0;
  }
  main section div p {
    text-align: center;
    margin: 0;
    font-size: 12px;
  }
  /* REFERENCIAS CREDENCIALES HTML */
  #img__navbar {
    margin-top: 10px;
    width: 80%;
    margin-left: 10px;
    margin-right: 20px;
    content: normal;
  }
  .credential__image {
    width: 25%;
  }
  main section div {
    display: flex;
    justify-content: center;
  }
  main section div h2 {
    padding-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
