* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GlacialIndifference-Regular;
  src: url(../fonts/GlacialIndifference-Regular.ttf);
}
body {
  background-color: rgb(239, 233, 229);
  font-family: GlacialIndifference-Regular;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

header nav ul li {
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  margin-top: 105px;
  transition: 0.5s;
}
header nav ul li:hover {
  transform: scale(1.1);
}
header nav a img {
  margin-top: -25px;
  height: 110px;
  margin-left: 10px;
  margin-right: 20px;
  content: normal;
  transition: 0.3s;
}
header nav a img:hover {
  transform: rotate(10deg);
}

footer {
  background-color: rgb(199, 177, 162);
  margin: 0px;
}
footer div {
  display: flex;
  justify-content: center;
}
footer div img {
  width: 1.5%;
  height: 1.5%;
  padding-right: 3px;
}
footer div ol {
  padding: 0px;
}
footer div li {
  list-style-type: none;
}
footer div a {
  text-decoration: none;
  color: black;
}

.pochefooter {
  font-size: 12px;
  padding-top: 10px;
}

.contactofooter {
  font-size: 12px;
  padding-right: 15px;
}

.linkfooter {
  font-style: none;
  list-style-type: normal;
  font-size: 11px;
}

.logoingreso {
  height: 250px;
  width: 250px;
}

.linkingreso {
  font-style: italic;
  font-family: GlacialIndifference-Regular;
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.principal1 {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section div h2 {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
main section div h3 {
  font-size: 27px;
  text-align: center;
}
main section div p {
  padding-top: 17px;
  font-size: 15px;
}
main section div img {
  padding: 10px 0px;
}

.botoninicio {
  margin-left: 15px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(239, 233, 229);
  color: rgb(0, 0, 0);
  transition: 0.2s;
}
.botoninicio:hover {
  transform: scale(1.1);
}

.banner1 {
  width: 100%;
}

.service {
  padding: 5px;
}

.service__detail, .credential__detail {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  list-style-type: none;
  padding: 6px 20px;
  margin-bottom: 15px;
  margin-top: 0px;
  background-color: white;
}

.contenidoservicio__titulo {
  margin-left: 27px;
  font-size: 23px;
}

.contenidoinfluencer, .contenedorcontacto, .contenedorreferencias {
  background-color: rgb(199, 177, 162);
  display: flex;
  padding: 0px;
  margin-bottom: 15px;
}

.tituloinfluencer, .titulocontacto, .tituloreferencias {
  font-size: 15px;
  font-style: italic;
  padding: 5px;
  margin: 0px;
}

.contenedorinfluencer {
  display: grid;
  grid-template-areas: "Influencer Influencer Influencer" "1 2 3";
  grid-template-columns: 34% 33% 34%;
  grid-template-rows: 150px 270px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.influencer__reversal {
  width: 350px;
  transition: 0.3s;
}

.influencer__cleanex {
  width: 350px;
  transition: 0.3s;
}

.influencer__proavenal {
  width: 350px;
  transition: 0.3s;
}

.influencer__inarah {
  margin-left: -80px;
  margin-top: -70px;
  width: 280px;
  transition: 0.3s;
}

main section ul {
  padding: 10px 45px;
}
main section li {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  list-style-type: square;
  margin-top: 10px;
}

.contenedorreferenciasimg {
  display: flex;
  justify-content: center;
}

.credential__detail {
  font-size: 14px;
}

.credential__image {
  margin-top: -35px;
  width: 12%;
  height: 13%;
}

main section form {
  margin-top: 15px;
}

.contactimg {
  padding-top: 15px;
  width: 4%;
  height: 3%;
}

.contactnumber, .contactemail {
  margin-left: 50px;
  margin-top: -51px;
}

.boton {
  margin-left: -5px;
}

.formulario__boton {
  margin-left: 600px;
  margin-bottom: 18px;
  padding: 5px;
  font-size: 12px;
  background-color: rgb(239, 233, 229);
  color: rgb(0, 0, 0);
  font-family: GlacialIndifference-Regular;
}

@media screen and (max-width: 768px) {
  /* HEADER */
  .header {
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  #img__navbar {
    margin-top: 10px;
    width: 80%;
    margin-left: 10px;
    margin-right: 20px;
    content: normal;
  }
  header nav div ul li {
    margin: 0px;
    padding: 0px 15px;
  }
  /* FOOTER */
  footer div img {
    width: 3%;
    height: 3%;
  }
  /* INICIO HTML */
  /* Presentacion */
  main section div div {
    display: flex;
    flex-wrap: wrap;
  }
  main section div div h2 {
    text-align: center;
    font-size: 10px;
    margin: 0;
    padding: 10px;
  }
  main section div div h3 {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
  main section div div p {
    font-size: 11px;
    padding: 0px;
  }
  .botoninicio {
    padding: 5px;
    font-size: 9px;
  }
  /* INFLUENCER MARKETING HTML */
  .contenedorinfluencer {
    display: grid;
    grid-template-areas: "1" "1";
    grid-template-columns: 50%;
    grid-template-rows: 150px 150px 150px 150px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .influencer__reversal {
    width: 300px;
    transition: 0.3s;
  }
  .influencer__cleanex {
    width: 260px;
    margin-left: -50px;
    transition: 0.3s;
  }
  .influencer__proavenal {
    margin-left: -20px;
    width: 280px;
    transition: 0.3s;
  }
  .influencer__inarah {
    margin-top: 10px;
    margin-left: -50px;
    width: 240px;
    transition: 0.3s;
  }
  /* CONTACTO HTML */
  .contactimg {
    width: 10%;
  }
  .boton {
    margin-left: -210px;
  }
}

/*# sourceMappingURL=style.css.map */
