.section__contactimg{
    width: 2%;
    margin-left: 30px;
    margin-top: 10px;

}
.section__contact{
    font-size: 18px;
    font-style: normal;
    text-align: left;
    margin-top: -28px;
    margin-left: 80px;
}
.formulario{
    margin-top: 20px;
}
.formulario1{
    margin-top: -25px;
}
.formulario2{
    margin-top: 25px;
}
.boton{
    margin-left: -5px;
}
.formulario__label{
    margin-left: 85px;
    font-size: 16px;
}
.formulario__input{
    margin-left: 5px;
    border: 3px solid rgb(0, 0, 0); 
    text-align: center;
}
.formulario__consulta{
    margin-left: 85px;
    border: 3px solid rgb(0, 0, 0);
}
.formulario__boton{
    margin-left: 420px;
    margin-bottom: 18px;
    padding: 5px;
    font-size: 12px;    
    background-color: rgb(239, 233, 229);
    color: rgb(0, 0, 0);
    font-family: GlacialIndifference-Regular;
}