footer{
    background-color: rgb(199, 177, 162);
        margin: 0px;
        height: 100%;
    ol li{
        list-style-type: none;
    }
    p{
        font-size: 13px;

    }
    div{
        display: flex;
        justify-content: end;
    }
    img{
        width: 4%;
    }
    }
    
