*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: GlacialIndifference-Regular;
    src: url(../fonts/GlacialIndifference-Regular.ttf);
}
.animate__animated.animate__fadeIn{
    --animate-duration: 5s;
}

$fondo: version2;

@if $fondo == version1{
    body{
        background-color: rgb(255, 255, 255);
        font-family: GlacialIndifference-Regular;
    }
    .service__detail{
        color: rgb(85, 0, 0);
    }
}@else if $fondo == version2{
    body{
        background-color: rgb(239, 233, 229);
        font-family: GlacialIndifference-Regular;
    }
}

@mixin flex-row-center{
    display: flex;
    align-items: center;
    justify-content: center;
}