main{
    section div h2{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    }
}
main{ 
    section div h3{
    font-size: 23px;
    text-align: center;
    }
}
main{ 
    section div p{
    text-align: center;
    padding-bottom: 15px;
    }
}
main{ 
    section div img{
    padding: 10px 0px;
    }
}
