@media screen and (max-width: 768px){

/* HEADER */
.header{
    flex-wrap: wrap;
    padding: 10px 20px;
}
#img__navbar{
    margin-top: 10px;
    width: 80%;
    margin-left: 10px;
    margin-right: 20px;
    content: normal;
}
header nav div ul li{
margin: 0px;
    padding: 0px 15px;
}

/* FOOTER */
footer{
    div img{
        width: 3%;
        height: 3%;
    }
}

/* INICIO HTML */

/* Presentacion */
main section div{
    div{
    display: flex;
    flex-wrap: wrap;
        h2{
            text-align: center;
        font-size: 10px;
        margin: 0;
        padding: 10px;
        }
        h3{
        width: 100%;
        font-size: 14px;
        padding: 10px;
        }
        p{
        font-size: 11px;
        padding: 0px;
        }
    }
}
.botoninicio{
    padding: 5px;
    font-size: 9px;
}

/* INFLUENCER MARKETING HTML */
.contenedorinfluencer{
    display: grid;
    grid-template-areas:
        "1"
        "1";
    grid-template-columns: 50%;
    grid-template-rows: 150px 150px 150px 150px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.influencer__reversal{
    width: 300px;
    transition: 0.3s;
}
.influencer__cleanex{
    width: 260px;
    margin-left: -50px;
    transition: 0.3s;
}
.influencer__proavenal{
    margin-left: -20px;
    width: 280px;
    transition: 0.3s;
}
.influencer__inarah{
    margin-top: 10px;
    margin-left: -50px;
    width: 240px;
    transition: 0.3s;
}

/* CONTACTO HTML */
.contactimg{
    width: 10%;
}
.boton{
    margin-left: -210px;
}
}