@media screen and (max-width: 768px){

    .header{
    flex-wrap: wrap;
    padding: 10px 20px;
    }
    #img__navbar{
        margin-top: 10px;
        width: 80%;
        margin-left: 10px;
        margin-right: 20px;
        content: normal;
    }
    header nav div ul li{
        margin: 0px;
        padding: 0px 15px;
    }
    
    /* INDEX HTML */
    
    main section div{
        padding: 5px 0px;
    }
    
    /* Presentacion */
    
    main section div div{
        display: flex;
        flex-wrap: wrap;
    }   
    main section div div h2{
    
        text-align: center;
        font-size: 10px;
        margin: 0;
        padding: 10px;
    }
    main section div div h3{
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    main section div div p{
        text-align: center;
        font-size: 11px;
        padding-bottom: 10px;
    }
    
    /* CONTACTO HTML */
    
    .section__contactimg{
        width: 5%;
    }
    .formulario1{
        margin-left: -260px;
    }
    .formulario{
        margin-left: -260px;
    }
    .formulario2{
        margin-left: -100px;
    }
    .boton{
        margin-left: -110px;
    }
    }
    
    @media screen and (max-width: 992px){
    
    header nav div ul li{
        margin: 0px;
        padding: 0px 15px;
    }
    
    /* INDEX HTML */
    
    main section div{
        padding: 5px 0px;
    }
    
    /* Presentacion */
    
    main section div div{
        display: flex;
        flex-wrap: wrap;
    }
    
    main section div h2{
        text-align: center;
        font-size: 15px;
    }
    main section div h3{
        width: 100%;
        font-size: 22px;
        margin: 0;
    }
    main section div p{
        text-align: center;
        margin: 0;
        font-size: 12px;
    }
    
    /* REFERENCIAS CREDENCIALES HTML */
    
    #img__navbar{
        margin-top: 10px;
        width: 80%;
        margin-left: 10px;
        margin-right: 20px;
        content: normal;
    }
    .credential__image{
        width: 25%;
    }
    main section div{
        display: flex;
        justify-content: center;
    }
    main section div h2{
        padding-top: 15px;
    }
    }