main{
    section{ 
        ul{
        padding: 10px 45px; 
        }
        li{
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 18px;
        list-style-type: square;
        margin-top: 10px;
        }
    }
}
.contenedorreferencias{
    @extend .contenidoinfluencer
}
.tituloreferencias{
    @extend .tituloinfluencer   
}
#referenciasimg{
    width: 15%
}
.credential__detail{
    @extend .service__detail;
    margin-top: 28px;
}
.credential__image{
    margin-top: -35px;
    width: 12%;
    height: 13%;
}
.contenedorsubtituloreferencias{
    display: flex;
    margin-top: 30px;
}
.subtituloreferencias{
    margin-bottom: 15px;
    margin-left: 12px;
    font-size: 20px;
    text-align: start;
}
.flecha{
    width: 1.5%;
}