.credential{
    padding: 0px;
}
.credential__detail{
    font-weight: normal;
    font-style: italic;
    font-size: 15px;
    list-style-type: none;
    padding: 10px;
    background-color: white;
}
.credential__image{
    margin-top: -25px;
    width: 13%;
    height: 13%;
}
