main{
    section{ 
        ul{
        padding: 10px 45px; 
        }
        li{
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 18px;
        list-style-type: square;
        margin-top: 10px;
        }
    }
}
.contenedorreferencias{
    @extend .contenidoinfluencer
}
.tituloreferencias{
    @extend .tituloinfluencer   
}
.contenedorreferenciasimg{
    display: flex;
    justify-content: center;
}
.credential__detail{
    @extend .service__detail;
}
.credential__image{
    margin-top: -35px;
    width: 12%;
    height: 13%;
}
