.banner1{
    width: 100%;
}
.service{
    padding: 5px;
}
.service__detail{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    list-style-type: none;
    padding: 6px 10px;
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: white;
    transition: 0.5s;
    &:hover{
        background-color: black;
        color: white;
    }
}
.contenidoservicio__titulo{
    margin-left: 27px;
    font-size: 20px;
}